# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Amazipp.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\EdenA\OneDrive\Documents\Shenkar\Unity\Unity Projects\Amazipp\Amazipp\.idea\.idea.Amazipp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
